[% packagename=input("package name: ")
-%]
package [% packagename %];
use strict;
use warnings;

=head1 NAME

[% packagename %] - short description

=cut

our $VERSION = '0.1';

=head1 SYNOPSIS

=head1 DESCRIPTION

=head1 AUTHOR

[% user.firstname %] [% user.lastname %] <[% user.mail %]>

=head1 SEE ALSO

=cut

"Yet we still see continuous reports of bugs. -- Vinton Cerf";
